/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}
body .conteiner {
  width: 1165px;
  margin: 0 auto;
}
body header {
  padding-top: 21px;
  padding-bottom: 21px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: #f1f1f1;
}
body header div {
  display: flex;
  gap: 35px;
  align-items: center;
}
body header div ul {
  display: flex;
  gap: 35px;
}
body header div ul a {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body .s-1 {
  margin-top: 100px;
  margin-bottom: 57px;
}
body .s-1 .wrapper-div {
  display: flex;
  justify-content: space-between;
}
body .s-1 h3 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 27px;
}
body .s-1 .wrapper1,
body .s-1 .wrapper2,
body .s-1 .wrapper3 {
  width: 362px;
  border-radius: 8px;
  background: #fff;
  padding-bottom: 41px;
}
body .s-1 .wrapper1 .txt-div,
body .s-1 .wrapper2 .txt-div,
body .s-1 .wrapper3 .txt-div {
  margin-left: 41px;
}
body .s-1 .wrapper1 .txt-div h2,
body .s-1 .wrapper2 .txt-div h2,
body .s-1 .wrapper3 .txt-div h2 {
  color: #8a8787;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  width: 238px;
  margin-bottom: 14px;
}
body .s-1 .wrapper1 .txt-div div,
body .s-1 .wrapper2 .txt-div div,
body .s-1 .wrapper3 .txt-div div {
  display: flex;
  gap: 11px;
}
body .s-1 .wrapper1 .txt-div div i,
body .s-1 .wrapper2 .txt-div div i,
body .s-1 .wrapper3 .txt-div div i {
  font-size: 16px;
  color: #8a8787;
}
body .s-1 .wrapper1 .txt-div div p,
body .s-1 .wrapper2 .txt-div div p,
body .s-1 .wrapper3 .txt-div div p {
  color: #8a8787;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body .s-1 h1 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body .s-1 .wrapper1 .img-div {
  background-image: url(../images/Rectangle\ 1.png);
  width: 362px;
  height: 186px;
  background: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 32px;
  padding-left: 41px;
  margin-bottom: 68px;
}
body .s-1 .wrapper2 .img-div {
  background-image: url(../images/Rectangle\ 3.png);
  width: 362px;
  height: 186px;
  background: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 32px;
  padding-left: 41px;
  margin-bottom: 68px;
}
body .s-1 .wrapper3 .img-div {
  background-image: url(../images/Rectangle\ 4.png);
  width: 362px;
  height: 186px;
  background: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 32px;
  padding-left: 41px;
  margin-bottom: 68px;
}
body .s-2 {
  margin-bottom: 36px;
}
body .s-2 .flexdiv {
  display: flex;
  justify-content: space-between;
}
body .s-2 h1 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 30px;
}
body .s-2 .images-div1 {
  display: flex;
  flex-direction: column;
  row-gap: 42px;
}
body .s-2 .images-div1 img {
  width: 758px;
  height: 430px;
}
body .s-2 .images-div1 div {
  background-image: url(../images/Rectangle\ 7.png);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 758px;
  height: 430px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body .s-2 .images-div1 div h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body .s-2 .images-div2 {
  display: flex;
  flex-direction: column;
  row-gap: 98px;
}
body .s-2 .images-div2 img {
  width: 362px;
  height: 212px;
}
body footer {
  background: #243043;
  padding-bottom: 44px;
  padding-top: 59px;
}
body footer .flexdiv1 {
  display: flex;
  justify-content: space-between;
}
body footer .flexdiv1 img {
  width: 38px;
  height: 40px;
}
body footer .flexdiv1 .footer-text {
  display: flex;
  gap: 112px;
}
body footer .flexdiv1 .footer-text h1 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body footer .flexdiv1 .footer-text .ul-div {
  display: flex;
  gap: 75px;
}
body footer .flexdiv1 .footer-text .ul-div ul {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
body footer .flexdiv1 .footer-text .ul-div ul a {
  color: #818687;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}/*# sourceMappingURL=global.css.map */