body {
  background-color: #f1f1f1;
  .conteiner {
    width: 1165px;
    margin: 0 auto;
  }
  header {
    padding-top: 21px;
    padding-bottom: 21px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #f1f1f1;
    div {
      display: flex;
      gap: 35px;
      align-items: center;
      ul {
        display: flex;
        gap: 35px;
        a {
          color: #000;
          font-family: $roboto;
          font-size: 11px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
  }
  .s-1 {
    margin-top: 100px;
    margin-bottom: 57px;
    .wrapper-div {
      display: flex;
      justify-content: space-between;
    }
    h3 {
      color: #000;
      font-family: $roboto;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 27px;
    }
    @include chemibarati;
    .wrapper1 {
      .img-div {
        @include imgdiv;
      }
    }
    .wrapper2 {
      .img-div {
        @include imgdiv($bckg-img: url(../images/Rectangle\ 3.png));
      }
    }
    .wrapper3 {
      .img-div {
        @include imgdiv($bckg-img: url(../images/Rectangle\ 4.png));
      }
    }
  }
  .s-2 {
    margin-bottom: 36px;
    .flexdiv {
      display: flex;
      justify-content: space-between;
    }
    h1 {
      color: #000;
      font-family: $roboto;
      font-size: 24px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-bottom: 30px;
    }
    .images-div1 {
      display: flex;
      flex-direction: column;
      row-gap: 42px;
      img {
        width: 758px;
        height: 430px;
      }
      div {
        background-image: url(../images/Rectangle\ 7.png);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 758px;
        height: 430px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        h2 {
          color: #fff;
          font-family: $roboto;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
    .images-div2 {
      display: flex;
      flex-direction: column;
      row-gap: 98px;
      img {
        width: 362px;
        height: 212px;
      }
    }
  }
  footer {
    background: #243043;
    padding-bottom: 44px;
    padding-top: 59px;
    .flexdiv1 {
      display: flex;
      justify-content: space-between;
      img {
        width: 38px;
        height: 40px;
      }
      .footer-text {
        display: flex;
        gap: 112px;
        h1 {
          color: #fff;
          font-family: $roboto;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .ul-div {
          display: flex;
          gap: 75px;
          ul {
            display: flex;
            flex-direction: column;
            row-gap: 14px;
            a {
              color: #818687;
              font-family: $roboto;
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
        }
      }
    }
  }
}
